<img id="user_img" src="<%= @current_user.image() %>" alt=“member_photo”>

<br>
<h1><%= @current_user.name %></h1>

<div class='row'>

<h4>likes <%=@current_user.cuisine.name%> and is based around <%=@current_user.district.name%></h4>

<br>

  <div class="col-md-4">
  </div>
  <div id="div-button" class="col-md-2">
    <form action='/match_cross' method='post'>
      <input type='hidden' id='count' name='count' value="<%= @number%>">
      <button id="no" type='submit' class="btn-primary btn-lg" name='button'><i class="fa fa-thumbs-down" aria-hidden="true"> Cross</i></button>
    </form>
  </div>
  <div id="div-button" class="col-md-2">
    <form action='/match_tick' method='post'>
      <input type='hidden' id='count' name='count' value="<%= @number%>">
      <button id="yes" type='submit' class="btn-success btn-lg" name='button'><i class="fa fa-thumbs-up" aria-hidden="true"> Tick </i> </button>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
<br>


    <div id="droppable">
      <p id="say-no">No</p>
    </div>
    <div id="droppable2">
      <p id="say-yes">Yes</p>
    </div>


<script src="js/main.js"></script>
